<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form th:action="@{/products/change}" th:object="${product}" method="POST">
    <div>
        <div>ID:</div>
        <h2 th:text="${product.id}"/>
        <input name="id" id="id"  th:field="*{id}"/>
    </div>
    <div>
        <div>Title:</div>
        <h2 th:text="${product.title}"/>
        <input name="title" id="title" type="text" th:field="*{title}"/>

    </div>
    <div>
        <div>Price:</div>
        <h3 th:text="${product.price}"/>
        <input name="price" id="price" type="number" th:filed="*{price}"/>

    </div>

    <input type="submit" value="Submit"/>
</form>

</body>
</html>